@import "./src/styles/setup";
.musix-app {
  min-height: calc(100vh - 270px);
  width: 100%;
  padding-top: 30px;
}

.mix-genre-container {
  &:not(:last-child) {
    margin-bottom: rem(20px);
  }
  .mix-genre-header {
    margin-bottom: rem(10px);
    .show-more-btn {
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
    .show-more-icon {
      font-size: rem(12px);
      margin-left: rem(2px);
    }
  }
}
