@import "./src/styles/setup";

.search-cmp {
  margin: rem(5px);
  position: relative;

  .search-input {
    color: $black;
    padding: rem(6px) rem(12px) rem(6px) rem(15px);
    height: rem(40px);
    max-width: rem(250px);
    min-width: rem(180px);
    border: 0;
    outline: none;
    border-radius: 100px;
    text-overflow: ellipsis;
    font-size: rem(14px);
    font-weight: 100;
    letter-spacing: 0.015em;

    &::placeholder {
      color: $light-grey-2;
    }
  }

  .fa-search {
    position: absolute;
    top: 50%;
    font-size: rem(14px);
    right: 4px;
    padding-left: 8px;
    transform: translate(-50%, -50%);
  }
}
