@import "./src/styles/setup";

.player {
  height: 105px;
  position: fixed;
  bottom: 0;
  padding: rem(15px) rem(30px);
  z-index: 55;
  background-color: $player-bgc;
  border-top: 1px solid $player-top;
  width: 100%;

  .volume-container {}

  .song-control {
    .btns-player-control {
      width: 250px;
      margin-bottom: rem(15px);

      button {
        background-color: transparent;
      }

      .play-song-btn {
        background-color: $white;
        background-color: white;
        padding: 9px;
        padding-right: 9px;
        width: 34px;
        height: 34px;
        text-align: end;
        border-radius: 50%;
        border-radius: 50%;
      }

      .fas {
        color: $light-grey;
        font-size: rem(16px);
      }

      .fa-play,
      .fa-pause {
        color: $black;
      }
    }

    .song-duration-slider {
      input {
        width: 425px;
      }
    }
  }

  .grey-icon {
    color: $light-grey;
    margin: 0 5px;
    transition: all .3s;

    &:hover {
      color: $green;
    }
  }

  .song-container {
    color: $light-grey;

    .song-img {
      width: 60px;
      height: 50px;
    }

    .like-song {
      background-color: transparent;
      margin-right: rem(10px);

      .fa-heart {
        font-size: rem(16px);
        color: $light-grey;

        &:hover {
          color: $white;
        }
      }
    }
  }
}