//SETUP:

@import "setup";

//BASE:

@import "./basics/fonts";
@import "./basics/base";
@import "./basics/helpers";
@import "./basics/layout";
@import "./basics/buttons";

// PAGES:

// COMPONENTS:

.App {
  // background-image: linear-gradient(#c074b2, #8ab5e8);
  background-color: $dark-black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  main{
    flex-grow: 1;
    background-color: inherit;
  }
}
