//SETUP:

@import "setup";

//BASE:

@import "./basics/fonts";
@import "./basics/base";
@import "./basics/helpers";
@import "./basics/layout";
@import "./basics/buttons";

// PAGES:

// COMPONENTS:

.App {
  background-color: $dark-black;
  height: 100%;
  display: flex;
  flex-direction: column;
  main{
    flex-grow: 1;
    background-color: inherit;
  }
}
