@import "./src/styles/setup";
@import "../../styles/basics/fonts";

.app-header {
  background-color: rgba($black, 0.6);
  height: rem(80px);
  padding: rem(15px) rem(20px);
  margin-bottom: rem(50px);
  .icon-hamburger {
    z-index: 99999;
    display: none;
    font-size: 21px;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: $green;
    }
    @include respond(narrow) {
      display: block;
    }
  }
  .logo-container {
    color: $white;
    h1 {
      font-family: $logo-font;
      font-size: rem(30px);
      letter-spacing: 0.5px;
      position: relative;
      .copyrights {
        font-size: rem(10px);
        position: absolute;
        top: rem(9px);
        right: rem(-9px);
      }
    }
    .fa-spotify {
      margin-right: rem(7px);
      font-size: rem(45px);
    }
  }

  .nav-links {
    @include respond(narrow) {
      display: none;
      flex-direction: column;
      background-color: $mix-bgc;
      padding: 10px 0;

      position: fixed;
      top: 0;
      right: 0;
      width: 205px;
      height: 100vh;
      z-index: 9990;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin: 0;
      > * {
        margin-bottom: 10px;
      }
    }
    > * {
      font-family: $font-tertiary;
      padding: 0px rem(17px);
      color: $white;
      letter-spacing: 0.5px;
      @include respond(narrow) {
        background-color: $green;
        text-align: center;
        width: 50%;
        padding: 10px;
        &:hover {
          background-color: #fff;
        }
      }
    }

    .profile-link {
      &:hover {
        a,
        .fa-user-circle {
          color: $light-green;
          cursor: pointer;
        }
      }
      a {
        color: $white;
      }
      .fa-user-circle {
        margin-right: rem(10px);
        font-size: rem(35px);
        font-weight: 50 !important;
      }
    }

    .mixes-link,
    .signup-link,
    .home-link,
    .create-mix-cmp {
      &:hover {
        cursor: pointer;
        color: $light-green;
      }
    }
  }
}
.nav-profile-option {
  top: 40px;
  background-color: white;
  right: 25px;
  width: 109px;
  text-align: center;
  border: 1px solid rgba(163, 163, 163, 0.2);
  border-radius: 10px;
  color: #282828;
  z-index: 3;
  > :first-child {
    margin-bottom: 10px;
  }
  .profile-btn,
  a {
    padding: 8px;
    text-transform: capitalize;
    border-radius: 10px;
    color: inherit;
    transition: all 0.3s;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: rgba($light-grey-3, 0.2);
    }
    i {
      color: inherit;
    }
  }
}
