
/* Flex Helpers! */

.flex {
  display: flex;
  &.space-around {
    justify-content: space-around;
  }
  &.center-center{
    justify-content: center;
    align-items: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
  &.space-evenly {
    align-items: center;
  }
  &.align-self-end {
    align-self: flex-end;
  }
  &.column {
    flex-direction: column;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.justify-center {
    justify-content: center;
  }

  > .grow {
    flex-grow: 1;
  }
}


//MARGINS


// POSITIONS
.relative {
  position: relative;
}
.absolute{
  position: absolute;
}

/* Ul */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}







