@import "./src/styles/setup";
.create-mix {
  font-family: $font-secondary;
  position: fixed;
  width: rem(530px);
  height: rem(570px);
  background-color: #121212;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 7px #202020d9;
  border: 1px solid #545454;
  border-radius: rem(5px);
  padding: rem(12px) rem(25px);
  color: $white;
  @include respond(narrow) {
    height: rem(650.2px);
  }
  @include respond(min-mobile) {
    width: rem(390.5px);
    height: rem(690.5px);
  }
  @include respond(mobile) {
    width: 100%;
  }
  .close-btn {
    background-color: transparent;
  }

  .fa-times {
    font-size: rem(20px);
    position: absolute;
    right: 0;
    top: 0;
    padding: rem(10px) rem(15px);
    color: #ffffffb5;
    transition: all 0.3s;
    &:hover {
      color: #fffffffa;
    }
  }
  .create-mix-title {
    font-size: 2rem;
    text-align: center;
    padding: rem(8px) 0;
    margin-bottom: rem(15px);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .upload-img-container {
    margin-bottom: rem(15px);

    .uploadImg {
      cursor: pointer;
      width: rem(200px);
      box-shadow: 0 0 10px 0px #494949;
      transition: box-shadow 0.3s;
      &:hover {
        box-shadow: 0 0 rem(10px) 0px #989898;
      }
    }
  }

  label {
    padding-left: rem(5px);
    margin-bottom: rem(9px);
    font-size: rem(14px);
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  input,
  select,
  textarea {
    padding: rem(8px) rem(21px);
    border-radius: rem(20px);
    outline: none;
    border: none;
    margin-bottom: rem(10px);
    font-family: $font-secondary;
    resize: none;
    border: 1px solid #545454d1;
    transition: all 0.2s;
    @include respond(mobile) {
      width: 100%;
    }
    &:focus,
    &:active {
      background-color: #141414;
      color: $white;
    }
  }

  .create-mix-btn {
    width: rem(200px);
    padding: rem(8px) rem(12px);
    background-color: $green-btn-color;
    border-radius: rem(20px);
    font-family: $font-secondary;
    font-size: rem(15px);
    color: $white;
    letter-spacing: 0.5px;
    align-self: center;
    margin-top: rem(15px);
    transition: all 0.2s;
    @include respond(mobile) {
      width: 80%;
    }
    &:hover {
      background-color: $light-green;
    }
  }
}
