@import "./src/styles/setup";
.create-mix {
 font-family: $font-secondary;
  position: fixed;
  width: 530px;
  height: 570px;
  background-color: #121212;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 7px #202020d9;
  border: 1px solid #545454;
  border-radius: 5px;
  padding: 12px 25px;
  color: $white;

  .close-btn {
    background-color: transparent;
  }

  .fa-times {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    color: #ffffffb5;
    transition: all .3s;
    &:hover{
      color: #fffffffa;

    }
  }
  .create-mix-title {
    font-size: 2rem;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .upload-img-container {
    margin-bottom: 15px;

    .uploadImg {
      cursor: pointer;
      width: 200px;
      box-shadow: 0 0 10px 0px #494949;
      transition: box-shadow .3s;
      &:hover{

        box-shadow: 0 0 10px 0px #989898;
      }
    
    }
  }

  label {
    padding-left: rem(5px);
    margin-bottom: rem(9px);
    font-size: rem(14px);
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  input, select, textarea {
    padding: rem(8px) rem(21px);
    border-radius: 20px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    font-family: $font-secondary;
    resize:none;
    border: 1px solid #545454d1;
    transition: all .2s;
    &:focus,&:active{
      background-color: #141414;
      color: $white;
    }

  }

  .create-mix-btn {
    width: 200px;
    padding: 8px 12px;
    background-color: $green-btn-color;
    border-radius: 20px;
    font-family: $font-secondary;
    font-size: rem(15px);
    color: $white;
    letter-spacing: 0.5px;
    align-self: center;
    margin-top: rem(15px);
    transition: all .2s;

    &:hover {
      background-color: $light-green;
    }
  }
}


