@import "./src/styles/setup";

.dont-match-res-cmp {
        margin: 20px;
        text-align: center;
        color: $white;
        font-size: rem(18px);

        i {
                color: $light-green;
                margin-right: rem(8px);
        }

        .err-msg {
                display: inline-block;
                letter-spacing: 1.2px;
                font-family: $font-tertiary;
        }

        h6 {
                font-family: inherit;
                margin-top: rem(5px);
                font-size: rem(12px);
        }
}