
// LAYOUT BREAKPOINTS

$break-mobile: 400px;
$break-max-narrow: 550px;
$break-narrow: 750px;
$break-normal: 950px;
$break-wide: 1300px;

//colors 

// background-image: linear-gradient(#c074b2, #8ab5e8);

// linear-gradient(transparent,rgba(0,0,0,.5))

$green: #1DB954;
$light-green: #1ED760;
$dark-grey: #222326;
$white: white;
$black: black;