// LAYOUT BREAKPOINTS
$break-max-mobile: 380px;
$break-mobile: 400px;
$break-mobile-min: 450px;
$break-max-narrow: 550px;
$break-narrow: 750px;

$break-normal: 950px;
$break-max-normal: 1000px;
$break-wide: 1300px;

//colors

$bgc-color: linear-gradient(#c074b2, #8ab5e8);

// linear-gradient(transparent,rgba(0,0,0,.5))

$green: #1db954;
$light-green: #1ed760;
$green-navbar: #36d760;
$dark-grey: #222326;
$dark-black: #121212;
$white: white;
$black: black;
$gray: #919496;
$light-grey: #b3b3b3;
$light-grey-3: #8d8d8d;
$light-grey-2: #606060;
$light-grey-4: #a3a3a3;
$mix-bgc: #181818;
$mix-bgc-hover: #282828;
$red: #be1e2d;
$facbook-color: #3b5998;
$green-btn-color: #15883e;
$song-active: #5a5a5a;
$song-hover: rgba(42, 42, 42, 0.832);
$light-green-3: #1ed760;
$light-blue: #2940a8;
$player-bgc: #181818;
$player-top: #282828;
$navbar-bgc: #1a1a1a;
$navbar-active: #1c1c1c;

$padding-mix: 0 rem(20px) rem(25px) rem(20px);

// FONTS

$logo-font: "gotham-medium", "rubik";
$font-primary: "circular-book", "rubik";
$font-secondary: "circular-medium", "rubik";
$font-tertiary: "circular-bold", "rubik";
