@import "./src/styles/setup";
.add-song{
  font-family: $font-secondary;
  position: fixed;
  width: rem(515px);
  height: rem(420px);
  background-color: rgba(255, 255, 255, 0.87);
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 15px 2px #494949;
  border-radius: 5px;
  padding: rem(12px) rem(25px);
  color: $dark-grey;
  @include respond(narrow){
    height: rem(500px);
  }
  @include respond(max-mobile){
    width: 100%;
  }
  .close-btn{
    color: #6a6868;
    transition: color .2s;
    cursor: pointer;
    align-self: flex-end;
    &:hover{
      color: $player-top;
     
    }
  }
  .search-container {
    margin: rem(15px) 0;

    .search-input {
      color: $black;
      padding: rem(6px) rem(25px) rem(6px) rem(15px);
      height: rem(40px);
      width: rem(300px);
      border-bottom-left-radius: rem(25px);
      border-top-left-radius: rem(25px);
      border: 0;
      outline: none;
      text-overflow: ellipsis;
      font-size: rem(14px);
      font-weight: 100;
      letter-spacing: 0.015em;

      &::placeholder {
        color: $light-grey-2;
      }
    }
    .search-btn {
      background-color: $white;
      padding: rem(6px) rem(12px);
      font-family: $font-secondary;
      border-bottom-right-radius: rem(25px);
      border-top-right-radius: rem(25px);
    }
  }

  .song-list-container {
    .song-list {
      max-height: rem(330px)!important;
      overflow-y: unset;
      width: rem(500px);
      .song-preview {
        width: rem(460px);
        margin-right: rem(10px);
        color: rgb(32, 32, 32);
        &:hover {
          background-color: unset;
        }
        .song-name {
          width: rem(350px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
.add-song-btn{
  background-color: transparent;
  outline: none;
  i{
    &:hover{
      color: $green;
    }
  }
}