@import "./src/styles/setup";

.song-preview {
  padding: rem(10px);
  transition: all 0.3s;
  border-radius: 6px;
  height: 50px;
  color: $light-grey;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    background-color: $song-hover;
  }

  .song-details {
    font-size: rem(16px);
    gap: rem(10px);
    transition: color 0.3s;
    cursor: pointer;
    .song-number {
      margin-right: 8px;
    }
    img {
      width: rem(50px);

      object-fit: cover;
      border-radius: rem(5px);
    }
    .song-name {
      text-transform: capitalize;
    }
    .song-duration {
      color: $light-grey-2;
      font-size: rem(12px);
      letter-spacing: 1.1px;
    }

    &:hover,
    &:hover > :first-child ,&.played-song,&.played-song >:first-child{
      color: $green;
    }
  }

  .song-preview-icon {
    font-size: rem(15px);
    color: $white;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: $green;
    }
  }
}
