@import "./src/styles/setup";
.sign-up {
  min-height: calc(100vh - 270px);
  color: $light-grey;
  margin-top: 100px;
  font-family: $font-secondary;

  //   background-color: white;
  .facebook-login {
    .facebook-btn {
      width: 400px;
      padding: rem(15px);
      background-color: $facbook-color;
      color: $white;
      font-family: $font-secondary;
      font-size: rem(16px);
      border-radius: 25px;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
    }
  }

  .signup-form,
  .login-form {
    margin-bottom: 50px;
    > * {
      margin: 12px 0;
    }
    input {
      width: 400px;
      border: 0.5px solid #d9dadc;
      padding: 12px 5px;
      border-radius: 5px;
      margin-top: 5px;
      &::placeholder {
        font-family: $font-primary;
      }
    }
  }

  .sepertor-container {
    color: $light-grey;
    font-size: rem(14px);
    margin-bottom: 30px;
    .separator-line {
      width: 170px;
      border: 0.5px solid $light-grey;
      margin: 16px;
      height: 0;
    }
  }

  .signup-login-btn {
    width: 250px;
    padding: rem(15px);
    background-color: $green-btn-color;
    color: $white;
    font-family: $font-secondary;
    font-size: rem(16px);
    border-radius: 25px;
    letter-spacing: 0.5px;
    align-self: center;
    margin-top: 20px;
  }

  .quest {
    color: $white;
    font-size: rem(16px);
  }

  .quest-btn {
    width: 400px;
    padding: rem(15px);
    background-color: transparent;
    border: 2px solid $light-grey-2;
    color: $white;
    font-family: $font-secondary;
    font-size: rem(16px);
    border-radius: 25px;
    letter-spacing: 0.5px;
    align-self: center;
    margin-top: 20px;
  }
}
