@import "./src/styles/setup";

.mix-header {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  padding: 0 rem(20px) rem(25px) rem(20px);
  .img-mix {
    display: block;
    width: rem(210px);
    height: rem(210px);
    object-fit: cover;
    border-radius: rem(5px);
    margin-right: rem(23px);
    @include respond(max-mobile) {
      margin-right: 1rem;
      width: calc(50% - 1rem);
    }
  }

  &-content {
    color: $white;
    font-size: rem(16px);
    text-transform: capitalize;
    height: 100%;
    width: calc(100% - 14.625rem);
    > *:not(:last-child) {
      margin-bottom: rem(5px);
    }
    > *:not(:first-child) {
      letter-spacing: 1px;
    }
    @include respond(max-mobile) {
      width: calc(100% - 50% - 1rem);
    }
    .mix {
      &-name {
        font-size: rem(85px);
        font-family: $font-secondary;
        max-width: 95%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include respond(max-normal) {
          font-size: rem(70px);
        }
        @include respond(normal) {
          font-size: rem(60px);
        }
        @include respond(max-narrow) {
          font-size: rem(45px);
        }
        @include respond(max-mobile) {
          font-size: rem(30px);
        }
      }

      &-description {
        font-size: rem(25px);
        text-transform: lowercase;
        max-width: inherit;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;
        @include respond(mobile) {
          font-size: rem(18px);
        }
        &::first-letter {
          text-transform: uppercase;
        }
      }

      &-created-by {
        @include respond(mobile) {
          font-size: rem(14px);
        }
        span {
          margin-right: rem(5px);
        }
      }

      &-info {
        font-size: rem(12px);
      }
    }

    [contenteditable]:focus {
      outline: 0px solid transparent;
    }
    .editable {
      border-bottom: 1px dashed rgba($white, 0.695);
      font-style: oblique;
    }
  }

  .icon {
    font-size: rem(17px);
    color: $white;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      color: $light-green;
    }
  }

  .btn-controls-container {
    position: absolute;
    padding: rem(10px) rem(20px) 0 0;
    font-size: rem(20px);
    gap: 10px;
    right: 0;
    top: 0;
    .fa-times {
      font-size: rem(18px);
    }
    .fa-pen {
      font-size: rem(14px);
    }
    @include respond(mid-normal) {
      bottom: 0;
      right: 0;
      padding: unset;
      flex-direction: row;
      padding: 0 15px 18.75px;
      top: unset;
    }
  }
}
