@import "./src/styles/setup";

.home-page {

  display: grid;
  grid-template-rows: 80vh minmax(max-content,rem(550px)) minmax(max-content, rem(300px));
  grid-template-columns: 1fr;


  

 

 
}

//PRIVATE CMPS:
.hero-home-page{
  margin-top: rem(-50px);
  width: 100%;
  overflow: hidden;
  font-family: $font-secondary;
  background: url(https://www.scdn.co/i/home/lieVariants/bursts-tablet.svg) no-repeat;
  background-position: right 40% center;
  background-color: $light-blue;
.hero {


  &-content {
    padding-top: rem(200px);
    padding-bottom: rem(110px);
    height: 100%;
    width: 100%;
    color: $light-green-3;

    >*:not(:last-child) {
      margin-bottom: rem(40px);

    }

    &-title {
      text-align: center;
      font-size: rem(84px);
      @include respond(max-mobile){
      font-size: rem(38px);

      }
    }

    &-description {
      width: 66%;
      text-align: center;
      word-break: break-all;
      font-size: rem(17px);
      letter-spacing: 1px;
      font-weight: 100;
      font-family: $font-primary;
    }

    &-controls {
      margin-top: rem(30px);

      >* {
        font-size: rem(14px);
        margin-right: rem(10px);
        margin-bottom: rem(10px);

      }
    }

  }
}
}

.lasted-mixes {
  background-image: linear-gradient(90deg, #2c5e92 0%, #552f6d 80%);

  .lasted-mix-title {
    font-size: rem(50px);
    font-family: $font-secondary;
    margin: rem(35px) 0;
    text-align: center;
    text-transform: capitalize;
    color: $white;
  }

  .lasted-mix-container {
    >*:first-child{
      margin-right: 30px;
      @include respond(max-narrow){
        margin-right: 0;
      }
    }

    .lasted-mix-box {

      color: $white;
      transition: all .3s;
      padding: 1.625rem 1.3125rem;
      border-radius: rem(20px);
      >*:not(:last-child){
        margin-bottom: rem(10px);
      }
      cursor: pointer;

      &:hover {
        background-color: rgba($white, 0.695);
        box-shadow: 1px 1px 5px #00000091;
      }

      img {
        width: rem(250px);
        height: rem(250px);
        object-fit: cover;
        border-radius: rem(20px);
      }
    }
  }
}

.features {
  background-color: $white;
  margin-bottom: rem(-50px);

  .features-container {
    padding: 3.625rem 5.938rem;

    .title-feature {
      text-align: center;
      font-size: rem(35px);
      margin-bottom: rem(20px);
    }

    .feature-content {
      gap: rem(50px);

      .feature-box {
        display: grid;
        grid-template-rows: max-content 1fr 50px;
        row-gap: 5px;

        &-title {
          align-self: center;

          grid-row: 1/2;
          font-size: rem(24px);
          letter-spacing: -1px;
          line-height: 1.4;
        }

        &-paragraph {
          grid-row: 2/3;
          margin: 5px 0;

          span {
            display: block;
          }
        }

        &-link {
          cursor: pointer;
          font-family: $font-primary;
          font-family: 100;
          grid-row: 3/4;
          align-self: center;
          text-align: center;
          letter-spacing: 1px;
          color: $green;
          text-transform: uppercase;
        font-size: 9px;
          &:hover {
            color: $light-green;
          }
        }
      }
    }
  }

}
.developer-box{
  .developer-title{
    text-align: center;
    line-height: 2.5;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffffab;
  }

  color: $gray;
  grid-column: 1/-1;
  padding-top: rem(30px);
  background-color: $dark-black;
.developer {
  box-shadow: 0px 2px 11px -1px #3a3a3a;
  margin: rem(10px);
  border-radius: 5px;
  font-size: rem(13px);
  padding: 8px 3px;
  width: rem(222px);

  img{
    height: rem(30px);
    width: rem(30px);
    border-radius: 50%;
    margin: 0 5px;
  }
  > * {
    margin: 4px;
  }
}

.fa-linkedin,
.fa-github {
  color: $white;
  font-size: rem(16px);
}
}
/* hero setting old : 

&-img{
  width: 100%;
  height: 100%;
  position: absolute;
}
&-bg-premium{
 background-image: linear-gradient(90deg, #c074b2, #8ab5e8);
 background-color: #509BF5;

}
.premium-gradient{
  background-image:linear-gradient(transparent,$black);
}*/