@import "./src/styles/setup";

.home-page {
  display: grid;
  grid-template-rows: 80vh minmax(max-content, rem(550px)) minmax(
      max-content,
      rem(300px)
    );
  grid-template-columns: 1fr;
  @include respond(narrow) {
    grid-template-rows: 40vh minmax(max-content, rem(550px)) minmax(
        max-content,
        rem(300px)
      );
  }
}

//PRIVATE CMPS:
.hero-home-page {
  margin-top: rem(-50px);
  width: 100%;
  overflow: hidden;
  font-family: $font-secondary;
  background: url(https://www.scdn.co/i/home/lieVariants/bursts-tablet.svg)
    no-repeat;
  background-position: right 40% center;
  background-color: $light-blue;
  .hero {
    &-content {
      padding-top: rem(200px);
      padding-bottom: rem(110px);
      height: 100%;
      width: 100%;
      color: $light-green-3;
      @include respond(narrow) {
        padding-top: rem(50px);
        padding-bottom: rem(30px);
      }

      > *:not(:last-child) {
        margin-bottom: rem(40px);
      }

      &-title {
        font-size: rem(100px);
        @include respond(max-normal) {
          font-size: rem(80px);
        }
        @include respond(mid-normal) {
          font-size: rem(70px);
        }
      }

      &-description {
        font-size: rem(17px);
        letter-spacing: 1px;
        font-weight: 100;
        font-family: $font-primary;
      }

      &-controls {
        margin-top: rem(30px);

        > * {
          font-size: rem(14px);
          margin-right: rem(10px);
        }
      }
    }
  }
}

.lasted-mixes {
  background-image: linear-gradient(90deg, #2c5e92 0%, #552f6d 80%);

  .lasted-mix-title {
    font-size: rem(50px);
    font-family: $font-secondary;
    margin: rem(35px) 0;
    text-align: center;
    text-transform: capitalize;
    color: $white;
  }

  .lasted-mix-container {
    gap: 30px;

    .lasted-mix-box {
      color: $white;
      transition: all 0.3s;
      padding: rem(10px) rem(5px);
      border-radius: rem(20px);
      cursor: pointer;

      &:hover {
        background-color: rgba($white, 0.695);
      }

      img {
        width: 80%;
        border-radius: rem(20px);
      }
    }
  }
}

.features {
  background-color: $white;
  margin-bottom: rem(-50px);

  .features-container {
    padding: 3.625rem 5.938rem;

    .title-feature {
      text-align: center;
      font-size: rem(35px);
      margin-bottom: rem(20px);
    }

    .feature-content {
      gap: rem(50px);

      .feature-box {
        display: grid;
        grid-template-rows: repeat(3, 1fr);

        &-title {
          align-self: center;

          grid-row: 1/2;
          font-size: rem(24px);
          letter-spacing: -1px;
          line-height: 1.4;
        }

        &-paragraph {
          grid-row: 2/3;
          margin: 5px 0;

          span {
            display: block;
          }
        }

        &-link {
          cursor: pointer;
          font-family: $font-primary;
          font-family: 100;
          grid-row: 3/4;
          align-self: end;
          text-align: center;
          letter-spacing: 1px;
          color: $green;
          text-transform: uppercase;

          &:hover {
            color: $light-green;
          }
        }
      }
    }
  }
}

/* hero setting old : 

&-img{
  width: 100%;
  height: 100%;
  position: absolute;
}
&-bg-premium{
 background-image: linear-gradient(90deg, #c074b2, #8ab5e8);
 background-color: #509BF5;

}
.premium-gradient{
  background-image:linear-gradient(transparent,$black);
}*/
